{% extends 'CITIZEN/commen.html' %}
{% block content %}

<h3>Report for: {{ complaint.title }}</h3>

<form method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label>Subject</label>
        <input type="text" name="subject" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Description</label>
        <textarea name="description" class="form-control" required></textarea>
    </div>

    <button type="submit" class="btn btn-danger">Submit Report</button>
</form>

{% endblock %}
