{% extends 'ADMIN/commen.html' %}
{% block content %}

<h3>Reply to Feedback</h3>

<p><strong>Complaint:</strong> {{ feedback.complaint.title }}</p>
<p><strong>User:</strong> {{ feedback.citizen.name }}</p>
<p><strong>Message:</strong> {{ feedback.message }}</p>

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label>Reply</label>
        <textarea name="reply" class="form-control" required>{{ feedback.reply }}</textarea>
    </div>

    <button type="submit" class="btn btn-success">Submit Reply</button>
    <a href="/admin_view_feedbacks/" class="btn btn-secondary">Cancel</a>
</form>

{% endblock %}
